<div class="hud">
    <h3>Arena</h3>

    <div><strong>Health</strong></div>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{f5.registry.player.healthPercent()}}%;"></div>
    </div>

    <div><strong>Votes</strong></div>
    <div ng-repeat="(key, value) in f5.audience.votes">{{key}}: {{value}}</div>
</div>
